<article class="article-item" >
				<div class="image-wrap">
					<img src="{{pelicula.image}}" alt="{{pelicula.title}}">
				</div>

				<h2>{{pelicula.title}}</h2>
				<span class="date">
					Hace 5 minutos
				</span>
				<!--otra manera de hacerlo:
				    <span class="year" [class.year-green]="pelicula.year > 2020"
				                           [class.year-red]="pelicula.year <= 2020"
				-->
				<span class="year" [ngClass]="{
                    'year-green': pelicula.year > 2020,
                    'year-red': pelicula.year <= 2020
				}">
					{{pelicula.year}}
				</span>

				<a href="#">Leer mas</a>

                <button (click)="seleccionar($event, pelicula)">
                    Seleccionar como favorita
                </button>

				<!--limpiar flotados-->
				<div class="clearfix"></div>
			</article>